{% extends 'base.html' %}

{% block head %}
<title>To do list</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align: center" class="title">To do list</h1>
    {% if tasks|length < 1 %}
    <br><h4 style="text-align: center" class="subtitle">No hay tareas. Crea una !</h4><br>
    {% else %}
    <table class="table is-fullwidth table is-hoverable">
        <tr>
            <th>Tarea</th>
            <th>Detalles</th>
            <th>Fecha</th>
            <th>Prioridad</th>
            <th>Acciones</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.details }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>{{ task.priority }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Eliminar</a>
                    <br>
                    <a href="/update/{{task.id}}">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="field">
        <form action="/todo" method="POST">
            <label class="label">Tarea:</label>
            <input class="input is-small" type="text" name="title" id="content" required>
            <label class="label">Detalle:</label>
            <input class="input is-small" type="text" name="details" id="content">
            <label class="label">Prioridad:</label>   
            &emsp; 1<input type="radio" name="priority" value="1" checked>
            <input type="radio" name="priority" value="2">
            <input type="radio" name="priority" value="3">
            <input type="radio" name="priority" value="4">
            <input type="radio" name="priority" value="5">5
            <br><br><input class="button is-link" type="submit" value="Agregar tarea">
        </form>
    </div>
</div>
{% endblock %}