{% extends 'base.html' %}

{% block head %}
<title>To do list</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align: center" class="title">Iniciar Sesión</h1>

    <div class="field">
        <form action="/login" method="POST">
            <label class="label">Nombre de usuario</label>
            <input class="input" type="text" name="user" id="content" required>
            <label class="label">Contraseña</label>
            <input class="input" type="password" name="password" id="content" required>
            <br><br><input class="button is-link" type="submit" value="Iniciar Sesión">    <a class="button is-link is-light" href="/signIn">Crear cuenta</a>
        </form>
    </div>
</div>
{% endblock %}