{% extends 'base.html' %}

{% block head %}
<title>To do list</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align: center" class="title">Crear una cuenta</h1>

    <div class="field">
        <form action="/createAccount" method="POST">
            <label class="label">Nombre de usuario</label>
            <input class="input" type="text" name="user" id="content" required>
            <label class="label">Correo electrónico</label>
            <input class="input" type="email" name="email" id="content" required>
            <label class="label">Contraseña</label>
            <input class="input" type="password" name="password" id="content" required>
            <br><br><input class="button is-link" type="submit" value="Crear cuenta">
        </form>
    </div>
</div>
{% endblock %}