{% extends 'base.html' %}

{% block head %}
<title>To do list</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Crear una cuenta</h1>

    <div class="form">
        <form action="/createAccount" method="POST">
            Nombre de usuario
            <br><input type="text" name="user" id="content" required>
            <br>Correo electrónico
            <br><input type="email" name="email" id="content" required>
            <br>Contrasenia
            <br><input type="password" name="password" id="content" required>
            <br><br><input type="submit" value="Crear cuenta">
        </form>
    </div>
</div>
{% endblock %}